Repository Speuce/JAMCo, pull requests merged in 2023-03, with the labels that each got.

#115 Model defaults
  backend/account/query.py
  backend/account/views.py
Labels: backend, Ready for Review

#117 Account info bug fixes
  frontend/__tests__/MainView.test.js
  frontend/src/components/modal/user/UserInfoModal.vue
  frontend/src/views/MainView.vue
Labels: frontend, Ready for Review

#120 Job Integration Tests
  backend/job/tests/test_views.py
  backend/job/views.py
  backend/tests/integration/test_job.py
Labels: backend, Ready for Review, testing

#125 isolate test_update_account
  backend/account/tests/test_query.py
Labels: Ready for Review, testing

#121 Login Persistence
  .github/workflows/django.yml
  backend/Dockerfile
  backend/account/auth_utils.py
  backend/account/business.py
  backend/account/models.py
  backend/account/query.py
  backend/account/tests/test_business.py
  backend/account/tests/test_query.py
  backend/account/tests/test_utils.py
  backend/account/tests/test_views.py
  backend/account/views.py
  backend/jamco/urls.py
  backend/requirements.txt
  backend/tests/integration/test_account.py
  frontend/__tests__/JobTrackingView.test.js
  frontend/__tests__/MainView.test.js
  frontend/__tests__/authCookie.test.js
  frontend/src/components/modal/user/UserInfoModal.vue
  frontend/src/helpers/auth-cookie.js
  frontend/src/views/MainView.vue
  prod.Dockerfile
Labels: frontend, backend, Ready for Review

#127 Unique Factory Fields
  backend/account/tests/factories.py
  backend/job/tests/factories.py
Labels: Ready for Review, testing

#122 Privacy options
  backend/account/business.py
  backend/account/migrations/0007_privacy.py
  backend/account/models.py
  backend/account/query.py
  backend/account/tests/factories.py
  backend/account/tests/test_business.py
  backend/account/tests/test_factory.py
  backend/account/tests/test_query.py
  backend/account/tests/test_views.py
  backend/account/views.py
  backend/jamco/urls.py
  backend/job/query.py
  backend/job/tests/test_query.py
  backend/tests/integration/test_account.py
  frontend/__tests__/MainView.test.js
  frontend/__tests__/UserInfoModal.test.js
  frontend/src/components/modal/user/UserInfoModal.vue
  frontend/src/views/MainView.vue
Labels: frontend, backend, Ready for Review

#133 Friend Requests
  .gitignore
  backend/account/business.py
  backend/account/migrations/0008_friendrequest.py
  backend/account/models.py
  backend/account/query.py
  backend/account/tests/factories.py
  backend/account/tests/test_business.py
  backend/account/tests/test_factory.py
  backend/account/tests/test_query.py
  backend/account/tests/test_views.py
  backend/account/views.py
  backend/jamco/settings.py
  backend/jamco/urls.py
  backend/requirements.txt
  backend/tests/integration/test_account.py
  backend/tests/integration/test_friends.py
Labels: backend, Ready for Review

#142 Organize Job Integration Tests
  backend/tests/integration/test_job.py
Labels: Ready for Review

#143 Search users
  backend/account/business.py
  backend/account/query.py
  backend/account/tests/test_business.py
  backend/account/tests/test_query.py
  backend/account/tests/test_views.py
  backend/account/views.py
  backend/jamco/urls.py
  backend/tests/integration/test_account.py
Labels: backend, Ready for Review

#144 Friends Modal
  backend/account/business.py
  backend/account/migrations/0009_alter_friendrequest_to_user.py
  backend/account/models.py
  backend/account/query.py
  backend/account/tests/test_business.py
  backend/account/tests/test_query.py
  backend/account/tests/test_stubs.py
  backend/account/tests/test_views.py
  backend/account/views.py
  backend/jamco/urls.py
  backend/tests/integration/test_account.py
  frontend/__tests__/FriendModal.test.js
  frontend/__tests__/MainView.test.js
  frontend/__tests__/SearchFriendsModal.test.js
  frontend/src/components/kanban/JobCard.vue
  frontend/src/components/modal/friend/FriendCard.vue
  frontend/src/components/modal/friend/FriendModal.vue
  frontend/src/components/modal/friend/RequestCard.vue
  frontend/src/components/modal/friend/SearchFriendsModal.vue
  frontend/src/views/MainView.vue
Labels: frontend, backend, Ready for Review

#141 Update Design Docs
  README.md
  Sequence Diagrams/Accept:Deny Friend Request.png
  Sequence Diagrams/Account & Privacy Edit.png
  Sequence Diagrams/Account Creation.png
  Sequence Diagrams/Add Friend.png
  Sequence Diagrams/Friend Request.png
  Sequence Diagrams/Job Manipulation.png
  Sequence Diagrams/Kanban Manipulation.png
  Sequence Diagrams/Request Cover Letter Review.png
  Sequence Diagrams/Review Cover Letter.png
  Sequence Diagrams/SequenceDiagrams.drawio
  Sequence Diagrams/Tracking Jobs.png
  Sequence Diagrams/View Friend Kanban.png
  frontend/README.md
  testplan.pdf
Labels: Ready for Review

#145 View friend kanban
  backend/account/business.py
  backend/account/query.py
  backend/account/tests/test_business.py
  backend/account/tests/test_query.py
  backend/account/tests/test_views.py
  backend/account/views.py
  backend/jamco/urls.py
  backend/tests/integration/test_friends.py
  frontend/__tests__/FriendModal.test.js
  frontend/__tests__/MainView.test.js
  frontend/__tests__/SearchFriendsModal.test.js
  frontend/src/components/kanban/KanbanBoard.vue
  frontend/src/components/modal/friend/FriendCard.vue
  frontend/src/components/modal/friend/FriendModal.vue
  frontend/src/components/modal/friend/SearchFriendsModal.vue
  frontend/src/components/modal/job/JobDetailDeadline.vue
  frontend/src/components/modal/job/JobDetailModal.vue
  frontend/src/views/JobTrackingView.vue
  frontend/src/views/MainView.vue
  testplan.pdf
Labels: frontend, backend, Ready for Review

#166 Job Card Overflow & Friend Scrolling
  frontend/__tests__/JobCard.test.js
  frontend/src/components/kanban/JobCard.vue
  frontend/src/components/modal/friend/FriendModal.vue
  frontend/src/components/modal/job/JobDetailModal.vue
Labels: bug, frontend, Ready for Review

#171 Long single-word cover letter
  frontend/src/components/modal/job/ReviewModal.vue
Labels: bug, frontend, Ready for Review

#168 Load Testing
  .gitignore
  backend/.devcontainer.json
  backend/Dockerfile
  backend/account/migrations/0010_alter_user_city_alter_user_country_and_more.py
  backend/account/models.py
  backend/account/stubs.py
  backend/account/tests/test_views.py
  backend/jamco/settings.py
  backend/manage.py
  backend/requirements.txt
  backend/tests/performance/load-testing-report.html
  backend/tests/performance/locustfile.py
  backend/tests/performance/performance-testing.md
  docker-compose.yml
Labels: Ready for Review, testing

#170 Pending Friends Search
  frontend/__tests__/SearchFriendsModal.test.js
  frontend/src/components/modal/friend/SearchFriendsModal.vue
Labels: bug, frontend, Ready for Review

#149 Privacy check bug
  frontend/__tests__/FriendCard.test.js
  frontend/__tests__/ReviewRequestModal.test.js
  frontend/src/components/kanban/KanbanBoard.vue
  frontend/src/components/modal/friend/FriendCard.vue
  frontend/src/components/modal/job/JobDetailDeadline.vue
  frontend/src/components/modal/job/JobDetailModal.vue
  frontend/src/components/modal/job/ReviewRequestModal.vue
  frontend/src/views/JobTrackingView.vue
  frontend/src/views/MainView.vue
Labels: frontend, Ready for Review

#181 make job a deep copy in modal
  frontend/src/components/modal/job/JobDetailModal.vue
Labels: bug, frontend, Ready for Review

#182 Load Test Validation Fix
  backend/tests/performance/locustfile.py
  backend/tests/performance/performance-testing.md
Labels: bug

#177 Document coding style
  README.md
Labels: documentation
