Repository Speuce/JAMCo, pull requests merged in 2023-02, with the labels that each got.

#46 Create Kanban Board
  frontend/.gitignore
  frontend/.vscode/extensions.json
  frontend/__tests__/CardBadge.test.js
  frontend/__tests__/JobCard.test.js
  frontend/__tests__/KanbanBoard.test.js
  frontend/__tests__/test_data/test_column_mapping.json
  frontend/__tests__/test_data/test_jobs.json
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/base.css
  frontend/src/assets/colours.css
  frontend/src/assets/logo.svg
  frontend/src/assets/main.css
  frontend/src/components/HelloWorld.vue
  frontend/src/components/TheWelcome.vue
  frontend/src/components/WelcomeItem.vue
  frontend/src/components/kanban/CardBadge.vue
  frontend/src/components/kanban/JobCard.vue
  frontend/src/components/kanban/KanbanBoard.vue
  frontend/src/helpers/string-to-tri-colour-palatte.js
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/views/AboutView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/JobTrackingView.vue
  frontend/vite.config.js
Labels: Ready for Review

#50 Google Signin/OAuth
  .gitignore
  backend/.pylintrc
  backend/account/__init__.py
  backend/account/admin.py
  backend/account/apps.py
  backend/account/migrations/__init__.py
  backend/account/models.py
  backend/account/templatetags/__init__.py
  backend/account/templatetags/render_vite_bundle.py
  backend/account/tests.py
  backend/account/tests/test_views.py
  backend/account/views.py
  backend/docker-entrypoint.sh
  backend/jamco/helper.py
  backend/jamco/settings.py
  backend/jamco/urls.py
  backend/jamco/views.py
  backend/requirements.txt
  backend/templates/index.html
  docker-compose.yml
  frontend/__tests__/GoogleSignin.test.js
  frontend/__tests__/requests.test.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/signin/GoogleSignin.vue
  frontend/src/helpers/requests.js
  frontend/src/main.js
  frontend/vite.config.js
Labels: frontend, backend, Ready for Review

#54 Job Detail Modal
  frontend/__tests__/CardBadge.test.js
  frontend/__tests__/JobCard.test.js
  frontend/__tests__/JobDetailDeadline.test.js
  frontend/__tests__/JobDetailModal.test.js
  frontend/__tests__/JobTrackingView.test.js
  frontend/__tests__/KanbanBoard.test.js
  frontend/__tests__/setupGlobals.js
  frontend/__tests__/setupPlugins.js
  frontend/__tests__/test_data/test_jobs.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/icons/IconTooling.vue
  frontend/src/components/kanban/JobCard.vue
  frontend/src/components/kanban/KanbanBoard.vue
  frontend/src/components/modal/job/JobDetailDeadline.vue
  frontend/src/components/modal/job/JobDetailModal.vue
  frontend/src/helpers/string-to-tri-colour-palatte.js
  frontend/src/main.js
  frontend/src/views/JobTrackingView.vue
  frontend/vite.config.js
Labels: frontend, Ready for Review

#52 Account model
  backend/account/business.py
  backend/account/migrations/0001_initial.py
  backend/account/models.py
  backend/account/query.py
  backend/account/tests.py
  backend/account/views.py
  backend/jamco/settings.py
  backend/jamco/urls.py
Labels: backend, Ready for Review

#62 Customizable Columns
  frontend/__tests__/ColumnCard.test.js
  frontend/__tests__/ColumnOptionModal.test.js
  frontend/__tests__/JobDetailDeadline.test.js
  frontend/__tests__/JobDetailModal.test.js
  frontend/__tests__/JobTrackingView.test.js
  frontend/__tests__/KanbanBoard.test.js
  frontend/__tests__/test_data/test_column_mapping.json
  frontend/__tests__/test_data/test_jobs.json
  frontend/__tests__/test_data/test_jobs_by_column.json
  frontend/src/components/kanban/KanbanBoard.vue
  frontend/src/components/modal/column/ColumnCard.vue
  frontend/src/components/modal/column/ColumnOptionModal.vue
  frontend/src/components/modal/job/JobDetailDeadline.vue
  frontend/src/components/modal/job/JobDetailModal.vue
  frontend/src/views/JobTrackingView.vue
Labels: frontend, Ready for Review

#60 Column mapping model
  backend/account/business.py
  backend/account/migrations/0002_kanbancolumn.py
  backend/account/models.py
  backend/account/query.py
  backend/account/tests.py
  backend/account/tests/__init__.py
  backend/account/tests/test_business.py
  backend/account/tests/test_query.py
  backend/account/tests/test_views.py
  backend/account/views.py
  backend/jamco/urls.py
Labels: backend, Ready for Review

#68 OAuth Verification and Account Creation
  .gitignore
  backend/account/business.py
  backend/account/migrations/0002_alter_user_birthday_alter_user_city_and_more.py
  backend/account/migrations/0003_merge_20230214_0232.py
  backend/account/models.py
  backend/account/query.py
  backend/account/tests/test_business.py
  backend/account/tests/test_query.py
  backend/account/tests/test_views.py
  backend/account/views.py
  backend/jamco/settings.py
  backend/requirements.txt
  frontend/src/components/signin/GoogleSignin.vue
  frontend/src/views/Sandbox.vue
Labels: backend, Ready for Review

#72 100% Test coverage
  .gitignore
  backend/.coveragerc
  backend/account/query.py
  backend/account/templatetags/render_vite_bundle.py
  backend/account/tests/test_business.py
  backend/account/tests/test_query.py
  backend/account/tests/test_views.py
  backend/account/views.py
  backend/jamco/tests.py
Labels: Ready for Review

#73 Login modal
  backend/account/business.py
  backend/account/tests/test_business.py
  backend/account/views.py
  backend/jamco/settings.py
  backend/jamco/urls.py
  backend/static/logo-compact.png
  backend/static/logo-long.png
  frontend/__tests__/GoogleSignin.test.js
  frontend/__tests__/MainView.test.js
  frontend/src/App.vue
  frontend/src/components/modal/login/LoginModal.vue
  frontend/src/components/signin/GoogleSignin.vue
  frontend/src/router/index.js
  frontend/src/views/HomeView.vue
  frontend/src/views/JobTrackingView.vue
  frontend/src/views/MainView.vue
Labels: frontend, backend, Ready for Review

#71 Account Setup Modal
  backend/account/business.py
  backend/account/migrations/0004_user_region.py
  backend/account/models.py
  backend/account/query.py
  backend/account/tests/test_business.py
  backend/account/tests/test_query.py
  backend/account/tests/test_views.py
  backend/account/views.py
  frontend/__tests__/AccountSetupModal.test.js
  frontend/__tests__/LoginModal.test.js
  frontend/__tests__/MainView.test.js
  frontend/src/components/modal/setup/AccountSetupModal.vue
  frontend/src/main.js
  frontend/src/views/JobTrackingView.vue
  frontend/src/views/MainView.vue
Labels: frontend, Ready for Review

#77 update icons
  frontend/src/components/modal/column/ColumnCard.vue
  frontend/src/components/modal/job/JobDetailDeadline.vue
Labels: bug, frontend, Ready for Review

#74 Job Model and Module
  backend/account/models.py
  backend/account/query.py
  backend/account/tests/test_views.py
  backend/jamco/settings.py
  backend/jamco/urls.py
  backend/job/__init__.py
  backend/job/admin.py
  backend/job/apps.py
  backend/job/business.py
  backend/job/migrations/0001_initial.py
  backend/job/migrations/0002_job_kcolumn.py
  backend/job/migrations/0003_job_type.py
  backend/job/migrations/__init__.py
  backend/job/models.py
  backend/job/query.py
  backend/job/tests/__init__.py
  backend/job/tests/test_business.py
  backend/job/tests/test_query.py
  backend/job/tests/test_views.py
  backend/job/views.py
Labels: Ready for Review

#83 fix shaky column/kanban selection
  frontend/src/components/modal/column/ColumnOptionModal.vue
Labels: bug, frontend

#104 Only call get_job_by_id when Required
  frontend/__tests__/JobTrackingView.test.js
  frontend/src/views/JobTrackingView.vue
Labels: task, frontend, Ready for Review

#111 Column Django App
  backend/account/business.py
  backend/account/migrations/0005_delete_kanbancolumn.py
  backend/account/models.py
  backend/account/query.py
  backend/account/tests/test_business.py
  backend/account/tests/test_query.py
  backend/account/tests/test_views.py
  backend/account/views.py
  backend/column/__init__.py
  backend/column/admin.py
  backend/column/apps.py
  backend/column/business.py
  backend/column/migrations/0001_initial.py
  backend/column/migrations/__init__.py
  backend/column/models.py
  backend/column/query.py
  backend/column/tests/__init__.py
  backend/column/tests/test_business.py
  backend/column/tests/test_query.py
  backend/column/tests/test_views.py
  backend/column/views.py
  backend/jamco/settings.py
  backend/jamco/urls.py
  backend/job/migrations/0004_alter_job_kcolumn.py
  backend/job/models.py
  backend/job/query.py
  backend/job/tests/test_business.py
  backend/job/tests/test_query.py
  frontend/__tests__/JobTrackingView.test.js
  frontend/src/views/JobTrackingView.vue
Labels: backend, Ready for Review

#113 Test Model Factories
  backend/account/tests/factories.py
  backend/account/tests/test_factory.py
  backend/column/tests/factories.py
  backend/column/tests/test_factory.py
  backend/job/tests/factories.py
  backend/job/tests/test_factory.py
  backend/requirements.txt
Labels: backend, Ready for Review, testing

#112 add sorting to deadlines
  frontend/__tests__/JobDetailModal.test.js
  frontend/src/components/modal/job/JobDetailModal.vue
Labels: frontend, Ready for Review
